<form action="set_post_session" method="get">
    <button type="submit">Set Post-session</button>
</form>

<form action="{{ protocol }}://localtest.me/compose" method="post">
    <input id="title"    name="title"                       type="hidden" value="This post was created from the attacker.site">
    <input id="markdown" name="markdown"                    type="text"   value="Any Adversarial Text">
    <input id="_xsrf"    name="{{ values.csrf_form_name }}" type="hidden" value="{{ values.csrf_token }}">
    <input type="submit" value="Create Blog Post from the attacker.site">
</form>

<h2>DEBUG:</h2>
{% for field, value in values.items() %}
{{ field }}: {{ value }}<br/>
{% endfor %}
