{% if mode == 'user' %}
<form action="set_post_session" method="get">
    <p><label>Username for token: <input type="text" name="username"/></label></p>
    <button type="submit">Set Post-session</button>
</form>
{% else %}
<form action="set_post_session" method="get">
    <input type="hidden" name="username" value=""/>
    <button type="submit">Set Post-session</button>
</form>
{% endif %}


<form action="{{ protocol }}://localtest.me/transfer"   method="post">
    <input id="ammount"    type="number" name="ammount" placeholder="ammount">
    <input id="target"     type="text"   name="target"  placeholder="target"><br>
    <input id="csrf_token" type="hidden" name="{{ values.csrf_form_name }}" value="{{ values.csrf_token }}">
    <input type="submit"   value="Transfer Money">
</form>

<form action="{{ protocol }}://localtest.me/transfer"   method="post">
    <input id="ammount"    type="number" name="ammount" placeholder="ammount">
    <input id="target"     type="text"   name="target"  placeholder="target"><br>
    <input id="csrf_token" type="hidden" name="{{ values.csrf_form_name }}" value="BLA">
    <input type="submit"   value="Fail Transfer Money (Wrong token)">
</form>

<h2>DEBUG:</h2>
{% for field, value in values.items() %}
{{ field }}: {{ value }}<br/>
{% endfor %}
<br>
<b>mode:     </b> {{ mode }}<br/>
<b>protocol: </b> {{ protocol }}<br/>