<form action="set_post_session" method="get">
    <button type="submit">Set Post-session</button>
</form>

<form action="{{ protocol }}://localtest.me/index.php?r=site%2Fcontact" method="post">
    <input type="hidden" id ="csrf_token"         name="{{ values.csrf_form_name }}" value="{{ values.csrf_token }}">
    <input type="hidden" id="contactform-name"    name="ContactForm[name]"    value="ABCD">
    <input type="hidden" id="contactform-email"   name="ContactForm[email]"   value="abcd@abcd.com">
    <input type="hidden" id="contactform-subject" name="ContactForm[subject]" value="ABCD">
    <input type="hidden" id="contactform-body"    name="ContactForm[body]"    value="ABCD">
    <input type="hidden" id="contactform-button"  name="contact-button"       value="">
    <input type="submit" value="Create Contact from the attacker.site">
</form>

<h2>DEBUG:</h2>
{% for field, value in values.items() %}
{{ field }}: {{ value }}<br/>
{% endfor %}
